# Environnement Python
venv/
__pycache__/
*.pyc

# Bases de données locales
audits.db
rag_db/

# Fichiers temporaires de scan
live_targets.txt
nuclei_results.json
rapport_brut.md
nohup.out

# Rapports générés
reports/
*.pdf

# Configuration locale (Ne jamais versionner les clés API !)
dojo_config.json

# Fichiers système
.DS_Store
